body {
    background-color: black;
}

.header {
    border: solid;
    border-color: #fff;
    text-align: center;
    color: #fff;
    width: 80.5%;
    height: 150px;
}

.container-left {
    border: solid;
    border-color: #fff;
    text-align: center;
    float: left;
    color: #fff;
    width: 40%;
    height: 500px;
}

.container-right {
    border: solid;
    border-color: #fff;
    text-align: center;
    float: left;
    color: #fff;
    width: 40%;
    height: 500px;
}
